{# Can update this to be passed in if we add a UI checkbox later. #}
{# Currently not toggle-able, but should be easy enough to change in the future. #}
{% set instructions_only = stats.get("total fields") == 0 %}
{% macro percent_widget(label, title, description, val, mean, std_dev) -%}
<div class="mb-3">
  <h4>{{ title }}
    {% if description | length > 0 -%}
    <a href="#{{label}}-info" data-bs-toggle="collapse" role="button" aria-expanded="false"
      aria-controls="{{label}}-info"><i class="fas fa-plus"></i></a>
    {% endif -%}
  </h4>
  {% if description | length > 0 -%}
  <div class="collapse" id="{{label}}-info">
    <p>{{ description | safe }}</p>
  </div>
  {% endif -%}
  <div class="percentage-position-chart">
    {% if val > mean + std_dev %}
    <div class="percentage-position-chart__bar percentage-position-chart__bar--red" style="width: {{ val * 100 }}%;">
    </div>
    {% elif val > mean - std_dev %}
    <div class="percentage-position-chart__bar percentage-position-chart__bar--yellow" style="width: {{ val * 100 }}%;">
    </div>
    {% else %}
    <div class="percentage-position-chart__bar percentage-position-chart__bar--green" style="width: {{ val * 100 }}%;">
    </div>
    {% endif %}
    <div class="percentage-position-chart__arrow percentage-position-chart__arrow--red" style="left: {{ val * 100}}%;">
    </div>
    <div class="percentage-position-chart__label percentage-position-chart__label--score">Score: {{ val }}%</div>
    <div class="percentage-position-chart__label percentage-position-chart__label--median">Median: 10%</div>
    <div class="percentage-position-chart__label percentage-position-chart__label--mean">Mean: 12%</div>
    <div class="percentage-text">{{ (val * 100) | format_number }}%</div>
  </div>
</div>
{% endmacro -%}
{% macro score_position_widget(label, title, description, val, mean, std_dev) -%}
<div class="mb-3">
  <h4>{{ title }}
    {% if description | length > 0 -%}
    <a href="#{{ label }}-info" data-bs-toggle="collapse" role="button" aria-expanded="false"
      aria-controls="{{ label }}-info"><i class="fas fa-plus"></i></a>
    {% endif -%}
  </h4>
  {% if description | length > 0 -%}
  <div class="collapse" id="{{ label }}-info">
    <p>{{ description | safe }}</p>
  </div>
  {% endif -%}
  <div class="score-position-chart">
    {% if val > mean + std_dev %}
    <div class="score-position-chart__bar score-position-chart__bar--red"
      style="width: {{ percent_of_2_stddev(val, mean, std_dev) }}%;"></div>
    <div class="score-position-chart__arrow score-position-chart__arrow--red"
      style="left: {{ percent_of_2_stddev(val, mean, std_dev) }}%;"></div>
    {% elif val > mean - std_dev %}
    <div class="score-position-chart__bar score-position-chart__bar--yellow"
      style="width: {{ percent_of_2_stddev(val, mean, std_dev) }}%;"></div>
    <div class="score-position-chart__arrow score-position-chart__arrow--red"
      style="left: {{ percent_of_2_stddev(val, mean, std_dev) }}%;"></div>
    {% else %}
    <div class="score-position-chart__bar score-position-chart__bar--green"
      style="width: {{ percent_of_2_stddev(val, mean, std_dev) }}%;"></div>
    <div class="score-position-chart__arrow score-position-chart__arrow--green"
      style="left: {{ percent_of_2_stddev(val, mean, std_dev) }}%;"></div>
    {% endif %}
    <div class="score-position-chart__label score-position-chart__label--score">Score: 75</div>
    <div class="score-position-chart__label score-position-chart__label--median">Median: 70</div>
    <div class="score-position-chart__label score-position-chart__label--mean">Mean: 68</div>
    <div class="score-text">{{ val | format_number }}</div>
  </div>
</div>
{% endmacro %}

      <input id="complexity-score" type="hidden" value="{{ round(complexity_score,1) }}">
      <input id="complexity-mean" type="hidden" value="{{ round(metric_means['complexity score']) }}">
      <input id="complexity-stddev" type="hidden" value="{{ round(metric_stddev['complexity score']) }}">
      
      <section class="pdf-statistics-section">
        <div class="container">
          <div class="row{% if instructions_only %} hidden{% endif %}">
            <div class="col-md-12 text-center">
              <h2>Complexity index</h2>
              <div class="d-flex justify-content-center">
                <div id="gauge_chart" class="mx-auto"></div>
              </div>
              <p>The complexity index is a weighted composite of the individual scores below. Higher scores are more complex. The average form scores about {{ metric_means["complexity score"] | int }}. <a href="../example_forms.html">Here are some examples of highly rated forms.</a></a></p>
            </div>
          </div>
          <div class="row{% if instructions_only %} hidden{% endif %}"> <!-- Begin time to answer -->
            
            <div class="col-md-12 text-center">
              <div class="container">
                <h2 class="text-center mt-5 mb-4">Estimated form completion time
                  <a href="#time-to-answer-info" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="time-to-answer-info"><i class="fas fa-plus"></i></a>
                </h2>
                <div class="collapse" id="time-to-answer-info">
                  <p>
                    We estimate time to answer by considering field length, number of fields,
                    the classification of the expected answer type for each field into one of slot-in,
                    gathered, third-party or "created". See <a href="https://suffolklitlab.org/docassemble-AssemblyLine-documentation/docs/complexity/complexity#how-we-created-our-score">How we created our score</a>.
                  </p>
                </div>
                
                <div class="circle-container">
                  {% if floor(stats.get("time to answer")[0]/60) > 0 %}
                      <!-- Full circle for each hour -->
                      <div class="circle">
                        <svg viewBox="0 0 36 36">
                          <circle cx="18" cy="18" r="15.91549430918954" fill="transparent" stroke="#007bff" stroke-width="4"></circle>
                        </svg>
                        <span class="circle-label">{{ floor(stats.get("time to answer")[0]/60) }}hr{% if floor(stats.get("time to answer")[0]/60) > 1 %}s{% endif %}</span>
                      </div>
                  {% endif %}
                  {% if stats.get("time to answer")[0] % 60 > 3 %}
                  <!-- Partial circle for minutes -->
                  <div class="circle">
                    <svg viewBox="0 0 36 36">
                      <circle cx="18" cy="18" r="15.91549430918954" fill="transparent" stroke="#007bff" stroke-width="4" stroke-dasharray="{{ stats.get("time to answer")[0] % 60 * 1.67 }}, 100" stroke-dashoffset="0" transform="rotate(-90 18 18)"></circle>
                    </svg>
                    <span class="circle-label">{{ 5 * round((stats.get("time to answer")[0] % 60) / 5) | int }}m</span>
                  </div>
                  {% endif %}
                </div>
              </div>
            
            </div>
          </div>

{% if False and stats.get("list") and "status" not in stats.get("list") %} <!-- There's no useful way to display SPOT codes yet -->
<div class="container mt-3">
  <h2 class="mt-5 mb-4">Legal topics</h2>

  <p>
    {{ stats.get("list") }}
  </p>
  We use the SPOT classifier to detect the legal topics mentioned in your PDF.
</div>
{% endif %}

      </section>
     
      <section class="pdf-suggestions-section">
        <h2 class="pdf-section-heading">Suggestions</h2>

        <p>
          <a href="https://suffolklitlab.org/docassemble-AssemblyLine-documentation/docs/style_guide/question_overview">How to write good questions</a>
          for forms and guided interviews.
        </p>        
        <div class="accordion" id="suggestionsAccordion">
          {% if not stats.get("pdf_is_tagged") %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-tagging">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-tagging" aria-expanded="false" aria-controls="collapse-tagging">
                <span class="fa-stack">
                  <i class="fa fa-ban fa-stack-2x text-danger"></i>
                  <i class="fa-brands fa-accessible-icon fa-stack-1x"></i>
                </span>                
                Tag this PDF for accessibility
              </button>
            </h2>
            <div id="collapse-tagging" class="accordion-collapse collapse" aria-labelledby="heading-tagging" data-bs-parent="#suggestionsAccordion">
              <div class="accordion-body">
                <p>This PDF is not <em>tagged</em>.</p>
                <p>
                  Tagging provides structure to a PDF so it can be better
                  read aloud by a screen reader or navigated by keyboard or alternative input device. Tagging is the 
                  <em>minimum</em> for accessible PDFs but not all tagged PDFs will make sense to a screen reader.
                </p>
                <p><a href="https://webaim.org/techniques/acrobat/">Read more about making PDFs accessible</a></p>
              </div>
            </div>
          </div>
          {% endif %}
          {% if stats.get("suggested title") and stats["suggested title"].lower().strip() not in ["abortthisnow.", "apierror"]%}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-title">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-title" aria-expanded="false" aria-controls="collapse-title">
                Use this plain language title
              </button>
            </h2>
            <div id="collapse-title" class="accordion-collapse collapse" aria-labelledby="heading-title" data-bs-parent="#suggestionsAccordion">
              <div class="accordion-body">
                {{ stats.get("suggested title") }}
              </div>
            </div>
          </div>
          {% endif %}
          {% if stats.get("description") and stats["description"].lower().strip() not in ["abortthisnow.", "apierror"] %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-description">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-description" aria-expanded="false" aria-controls="collapse-description">
                Use this plain language description
              </button>
            </h2>
            <div id="collapse-description" class="accordion-collapse collapse" aria-labelledby="heading-description" data-bs-parent="#suggestionsAccordion">
              <div class="accordion-body">
                {{ stats.get("description") }}
              </div>
            </div>
          </div>
          {% endif %}

          {% if stats.get("passive sentences", []) %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-passive-voice">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-passive-voice" aria-expanded="false" aria-controls="collapse-passive-voice">
                Rewrite sentences to use the active voice
              </button>
            </h2>
            <div id="collapse-passive-voice" class="accordion-collapse collapse" aria-labelledby="heading-passive-voice" data-bs-parent="#suggestionsAccordion">
              <div class="accordion-body">
                <p>Passive voice is harder for people with lower literacy levels and English-language learners to understand.
                  Try to rewrite these sentences to use the active voice.
                </p>
                <ul>
                {% for sentence in stats.get("passive sentences", []) %}
                <li>
                  {{ highlight_text(sentence[0], sentence[1])  | safe }}
                </li>
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endif %}
          {% if stats.get("plain language suggestions") %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-plain-lang-suggestions">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-plain-lang-suggestions" aria-expanded="false" aria-controls="collapse-plain-lang-suggestions">
                Use simpler phrases and words
              </button>
            </h2>
            <div id="collapse-plain-lang-suggestions" class="accordion-collapse collapse" aria-labelledby="heading-plain-lang-suggestions" data-bs-parent="#suggestionsAccordion">
              <div class="accordion-body">
                <p>
                  These phrases and words use complex phrasing or legal jargon. Try rewriting them to use the simpler replacement
                  phrases we list below.
                </p>
                <p>
                We refer to <a href="https://www.plainlanguage.gov/guidelines/words/">plainlanguage.gov</a>'s list of common
                complex words and simple replacements. Apply judgement and read the words in context to make sure the replacements
                still make sense.
                </p>  
                <div class="text-break">
                <table class="table">
                    <tr>
                      <th scope="col">Original sentence</th>
                      <th scope="col">Revised sentence</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for suggestion in stats.get("plain language suggestions", []) %}
                  <tr>
                    <td>
                      {{ suggestion[0] | safe }}
                    </td>
                    <td>{{ highlight_text(suggestion[1], suggestion[2]) | safe  }}</td>
                  </tr>
                  {% endfor %}
                </tbody>             
                </table>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if stats.get("neutral gender suggestions") %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-neutral-gender">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-neutral-gender" aria-expanded="false" aria-controls="collapse-neutral-gender">
                Use gender neutral terms
              </button>
            </h2>
            <div id="collapse-neutral-gender" class="accordion-collapse collapse" aria-labelledby="heading-neutral-gender" data-bs-parent="#suggestionsAccordion">
              <div class="accordion-body">
                <p>
                  Using <a href="https://www.ncsc.org/__data/assets/pdf_file/0028/84916/Gender-Inclusivity-in-the-Courts.pdf">gender inclusive language</a>
                  makes all users of your court feel more welcome. Replace the gendered terms with the suggestions below.
                </p>
                <div class="text-break">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Original sentence</th>
                      <th scope="col">Revised sentence</th>
                    </tr>
                    </thead>               
                {% for suggestion in stats.get("neutral gender suggestions", []) %}
                <tr>
                  <td>
                    {{ suggestion[0] | safe }}
                  </td>
                  <td>{{ highlight_text(suggestion[1], suggestion[2]) | safe  }}</td>
                </tr>
                {% endfor %}
                
                </table>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if stats.get("citations") %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-citations">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-citations" aria-expanded="false" aria-controls="collapse-citations">
                Remove unneeded citations
              </button>
            </h2>
            <div id="collapse-citations" class="accordion-collapse collapse" aria-labelledby="heading-citations" data-bs-parent="#suggestionsAccordion">
              <div class="accordion-body">
                <p>
                  Citations can add clutter to your forms. If you must include a citation, put it in a place that will not
                  distract self-represented litigants. And keep the number of citations to a minimum.
                </p>
                <ul>
                {% for suggestion in stats.get("citations") %}
                <li>
                  {{ suggestion  }}
                </li>
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endif %}
          {% if stats.get("difficult words", []) %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-difficult-words">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-difficult-words" aria-expanded="false" aria-controls="collapse-difficult-words">
                Review and replace remaining difficult words
              </button>
            </h2>
            <div id="collapse-difficult-words" class="accordion-collapse collapse" aria-labelledby="heading-difficult-words" data-bs-parent="#suggestionsAccordion">
              <div class="accordion-body">
                <p>
                The words from your PDF below are not common English language words (they don't appear in the Dale-Chall word list). 
                Consider replacing them with simpler words.
                </p>
                <ul>
                {% for word in stats.get("difficult words", []) %}
                <li>
                  {{ word  }}
                </li>
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endif %}
          {% if stats.get("pages", 0) > metric_means["pages"] + metric_stddev["pages"] %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-pages">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-pages" aria-expanded="false" aria-controls="collapse-pages">
                Reduce the number of pages
              </button>
            </h2>
            <div id="collapse-pages" class="accordion-collapse collapse" aria-labelledby="heading-pages" data-bs-parent="#suggestionsAccordion">
              <div class="accordion-body">
                <p>
                  The number of pages in your form is above average. If it is possible to eliminate some questions,
                  consider doing so to make it easier for self-represented litigants to complete your form. You might
                  also consider separating your form into multiple forms or finding a way to answer some
                  questions without asking the litigant. (We don't recommend increasing the number of fields
                  per page).
                </p>
              </div>
            </div>
          </div>
          {% endif %}
          {% if stats.get("total fields", 0) > metric_means["total fields"] + metric_stddev["total fields"] %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-fields">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-fields" aria-expanded="false" aria-controls="collapse-fields">
                Reduce the total number of fields
              </button>
            </h2>
            <div id="collapse-fields" class="accordion-collapse collapse" aria-labelledby="heading-fields" data-bs-parent="#suggestionsAccordion">
              <div class="accordion-body">
                <p>
                  The total number of fields in your form is above average. Consider reducing the number of fields to make it easier
                  for self-represented litigants to complete.
                </p>
              </div>
            </div>
          </div>
          {% endif %}
          {% if stats.get("avg fields per page", 0) > metric_means["avg fields per page"] + metric_stddev["avg fields per page"] %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-fields-per-page">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-fields-per-page" aria-expanded="false" aria-controls="collapse-fields-per-page">
                Reduce the number of fields per page
              </button>
            </h2>
            <div id="collapse-fields-per-page" class="accordion-collapse collapse" aria-labelledby="heading-fields-per-page" data-bs-parent="#suggestionsAccordion">
              <div class="accordion-body">
                <p>
                  The number of fields per page in your form is above average. Consider reducing the number of fields per page to make it easier
                  for self-represented litigants to complete.
                </p>
              </div>
            </div>
          </div>
          {% endif %}
          {% if word_count_per_page > 140 %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-word-count">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-word-count" aria-expanded="false" aria-controls="collapse-word-count">
                Reduce the number of words per page
              </button>
            </h2>
            <div id="collapse-word-count" class="accordion-collapse collapse" aria-labelledby="heading-word-count" data-bs-parent="#suggestionsAccordion">
              <div class="accordion-body">
                <p>
                  Your form has an above average number of words per page. When there is too much text on a page, <a href="https://www.nngroup.com/articles/how-little-do-users-read/">litigants will read as little as 20% of the content</a>. 
                  Make sure the litigant focuses on the right information by keeping the text on each page short.
                </p>
              </div>
            </div>
          </div>
          {% endif %}
          {% if stats.get("sensitive data types", []) %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-sensitive-data-types">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-sensitive-data-types" aria-expanded="false" aria-controls="collapse-sensitive-data-types">
                Review and remove sensitive data types
              </button>
            </h2>
            <div id="collapse-sensitive-data-types" class="accordion-collapse collapse" aria-labelledby="heading-sensitive-data-types" data-bs-parent="#suggestionsAccordion">
              <div class="accordion-body">
                <p>
                The following fields from your PDF reference sensitive information. 
                Consider removing sensitive data types from the form.
                </p>
                <ul>
                {% for sensitive_data_type, sensitive_fields in stats.get("sensitive data types", {}).items() %}
                <li>
                  {{ sensitive_data_type }}
                  <ul>
                  {% for sensitive_field in sensitive_fields %}
                    <li>{{ sensitive_field }}</li>
                  {% endfor %}
                  </ul>
                </li>
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endif %}
          {% if stats.get("non english text detected", []) %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-non-english-text-detected">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-non-english-text-detected" aria-expanded="false" aria-controls="collapse-non-english-text-detected">
                Non-English text found
              </button>
            </h2>
            <div id="collapse-non-english-text-detected" class="accordion-collapse collapse" aria-labelledby="heading-non-english-text-detected" data-bs-parent="#suggestionsAccordion">
              <div class="accordion-body">
                <p>
                We are unable to rate non-English text. {{ "{:.1%}".format(stats.get("non english percentage")) }} of the source was skipped.
                </p>
              </div>
            </div>
          </div>
          {% endif %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-not-detected-yet">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-not-detected-yet" aria-expanded="false" aria-controls="collapse-not-detected-yet">
                What we can't detect yet
              </button>
            </h2>
            <div id="collapse-not-detected-yet" class="accordion-collapse collapse" aria-labelledby="heading-not-detected-yet" data-bs-parent="#suggestionsAccordion">
              <div class="accordion-body">
                <p>
                  This is an automated tool, and we can't detect everything that makes a form easy to use yet. 
                  Manually review your form for these good practices:
                </p>
                <ul>
                  <li>
                    Give priority to the fields the litigant needs to complete. Place <a href="https://justiceinnovation.law.stanford.edu/evaluating-court-legal-forms/#design">insider information</a> in less prominent places on your form.
                  </li>
                  <li>
                    Use headings and whitespace to make it easy for the litigant to find important information and to group fields together.
                  </li>
                  <li>
                    Don't ask questions you do not need the answer to. A <a href="https://www.gov.uk/service-manual/design/form-structure#know-why-youre-asking-every-question">question protocol</a> can help. 
                    You can also <a href="https://suffolklitlab.org/form-explorer/compare/">see what other states are doing</a> on forms with similar topics.
                  </li>
                  <li>
                    Especially avoid traumatic questions that are not required or that repeat information you can get from another source.
                  </li>
                  <li>
                    Consider adding a guided interview for especially complex forms that require litigant choices. Our <a href="https://suffolklitlab.org/docassemble-AssemblyLine-documentation/docs/">free tools</a>
                    can help.
                  </li>
                  <li>
                    If your budget and time allow, consider a <a href="https://www.ncsc.org/__data/assets/pdf_file/0017/42722/User-testing.pdf">usability test</a>.
                    Usability testing can be done with as few as 5 litigants and can help you identify problems with your form that are not detected by automated tools.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>   
      </section>

      <section class="pdf-statistics-section mt-4">
        <div class="container">
        <div class="row">
          <h2 class="text-center mt-4">Detailed statistics</h2>
          <div class="col-md-6">
            {{ percent_widget("difficult-words", "Percentage of difficult words", "We compare the vocabulary of this form to the 4000 most common English language words. (We use the Dale-Chall wordlist).", float(stats.get("difficult word percent")), metric_means["difficult word percent"], metric_stddev["difficult word percent"]) }}
            </div>

            <div class="col-md-6">
              {{ percent_widget("passive-voice", "Percent passive voice", "We measure percentage of passive voice with <a href='https://pypi.org/project/PassivePy/'>PassivePy</a>. Passive voice is harder to read than the active voice.", passive_percent, metric_means["number of passive voice sentences"]/metric_means["number of sentences"], metric_stddev["number of passive voice sentences"]/metric_means["number of sentences"])}}
            </div>
        </div>

        <div class="row">

          <div class="col-md-4">
          {{ score_position_widget("readability-info","Reading grade level","Reading Grade Level is an average of several scores, including Flesch-Kinkaid, Gunning-Fogg and Dale-Chall. Grade 8 means an 8th grader can read and understand most of the text. Note: this statistic is less accurate on forms than on longer narrative text but high grade level typically means a problem in your form.", stats.get("reading grade level"), metric_means["reading grade level"],metric_stddev["reading grade level"]) }}
          </div>

          <div class="col-md-4">
              {{ score_position_widget("citation", "Number of legal citations", 'We recommend leaving citations out of your court form. We measure citations with <a href="https://free.law/projects/eyecite">EyeCite</a>, which often does not capture short form citations to state statutes.', stats.get("citation count"), metric_means["citation count"], metric_stddev["citation count"]) }}
          </div>
          
          <div class="col-md-4{% if instructions_only %} hidden{% endif %}">
            {{ score_position_widget("fields", "Number of fields", "", stats.get("total fields"), metric_means["total fields"], metric_stddev["total fields"]) }}
          </div>

          <div class="col-md-4">
            {{ score_position_widget("pages", "Number of pages", "", stats.get("pages"), metric_means["pages"], metric_stddev["pages"]) }}
          </div>

          <div class="col-md-4{% if instructions_only %} hidden{% endif %}">
            {{ score_position_widget("fields-per-page", "Fields per page", "", stats.get("avg fields per page"), metric_means["avg fields per page"], metric_stddev["avg fields per page"]) }}
          </div>

          <div class="col-md-4">
            {{ score_position_widget("word-count", "Words per page", 'Users <a href="https://www.nngroup.com/articles/how-little-do-users-read/">read as little as 20% of the content</a> on a longer page. Try to keep word count around 100 words.', word_count_per_page, 110, 30) }}
          </div>

          <div class="col-md-4">
            {{ score_position_widget("sentence-count", "Sentences per page", "", stats.get("sentences per page"), metric_means["sentences per page"], metric_stddev["sentences per page"])}}
          </div>

        </div>
        <!-- Legend -->
        <div class="d-flex mt-3">
          <div class="legend-item">
            <div class="legend-color bg-success"></div>
            <span>Green: 1 standard deviation below the mean</span>
          </div>
          <div class="legend-item">
            <div class="legend-color bg-warning"></div>
            <span>Yellow: within 1 standard deviation of the mean</span>
          </div>
          <div class="legend-item">
            <div class="legend-color bg-danger"></div>
            <span>Red: more than 1 standard deviation above the mean</span>
          </div>
        </div>
        </div>

        <!-- -->
        <div class="container{% if instructions_only %} hidden{% endif %}">
        <h2 class="mt-5 mb-4">Field classification</h2>

        <!-- Stacked bar chart -->
        <div class="bar w-50">
          <div class="bar-segment bg-success" style="width: {{ stats.get('slotin percent', 0) * 100 }}%;"></div> <!-- Adjust width according to the percentage of the slotin stat -->
          <div class="bar-segment bg-secondary" style="width: {{ stats.get('gathered percent', 0) * 100 }}%;"></div> <!-- Adjust width according to the percentage of the gathered stat -->
          <div class="bar-segment bg-warning" style="width: {{ stats.get('third party percent', 0) * 100 }}%;"></div> <!-- Adjust width according to the percentage of the third-party stat -->
          <div class="bar-segment bg-danger" style="width: {{ stats.get('created percent', 0) * 100 }}%;"></div> <!-- Adjust width according to the percentage of the created stat -->
        </div>

        <!-- Legend -->
        <div class="d-flex mt-3">
          <div class="legend-item">
            <div class="legend-color bg-success"></div>
            <span>Slot-in fields: {{ round(stats.get('slotin percent', 0) * 100, 1) }}%</span>
          </div>
          <div class="legend-item">
            <div class="legend-color bg-secondary"></div>
            <span>Gathered fields: {{ round(stats.get('gathered percent', 0) * 100, 1) }}%</span>
          </div>
          <div class="legend-item">
            <div class="legend-color bg-warning"></div>
            <span>Third-party fields: {{ round(stats.get('third party percent', 0) * 100,1) }}%</span>
          </div>
          <div class="legend-item">
            <div class="legend-color bg-danger"></div>
            <span>Created fields: {{ round(stats.get('created percent', 0) * 100, 1) }}%</span>
          </div>
        </div>
        </div>        
  </div>
</section>      